<!DOCTYPE html>
<html>
<head>
<style>
.center {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: 3px solid #73AD21;
    padding: 10px;
}
</style>
</head>
<body>



<div class="center">
<h1>Login</h1>

<%= form_for(:user, url: sessions_path) do |f| %>
<div class = "field"> <%= f.label :username %> <br/> <%= f.text_field :username %></div>
<p/>
<div class = "field"> <%= f.label :password %> <br/> <%= f.password_field :password %></div>

<div class "action"> <%= f.submit "Login" %></div>
</div>


<% end %>
